

html,
body {
  height: 100%;
  margin-top: 3%;
}


#cover {
  background: #222;
  background-size:cover;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;

}

#cover-caption {
  width: 100%;
}

nav {
  font-size: 30px;
  background: #222;
}

.rwd-line {
  margin:  7.5%;
}


img {
  margin: 5%;
  max-width: 8%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img {
        max-width: 60%;
    }

    .rwd-line {
       display: inline-block;
       padding-left:0%;
       text-align: left;
}
}
